:root {
  --contentAvatar-with: 125px;
  --content-with: 471px;
  --contentText-with: calc(var(--content-with) - var(--contentAvatar-with));
}
header {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > p {
  color: #ffff;
  font-size: 14.46px;
  line-height: 17.5px;
  font-weight: 500;
}
.container {
  width: 550px;
}
.contentAvatar > img {
  border-radius: 5px;
}
.content {
  position: relative;

  /* border-bottom: 1px solid #f5f5f5; */
  margin: 40px 20px;
  display: flex;
  width: var(--content-with);
  height: 168px;
}
.contentText {
  float: right;
}
.contentAvatar {
  width: var(--contentAvatar-with);
  height: 168px;
}
.contentAvatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentText {
  margin-top: 15px;
  margin-left: 15px;
  width: var(--contentText-with);
}
.addLive {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12.39px;
}
.add {
  display: flex;
}
.addMap {
  font-size: 10.24px;
  line-height: 12.39px;
  font-weight: 400;
  margin-left: 10px;
}

.addMap > a {
  color: #918e9b;
}
.name {
  font-size: 25px;
  font-weight: 700;
}
.day {
  font-size: 10.24px;
  font-weight: 700;
  margin: 5px 0;
}
.des {
  font-size: 10.24px;
  font-weight: 400;
  color: #2b283a;
}
.borderBottom {
  position: absolute;
  width: 478px;
  height: 0.1px;
  top: 188px;
  background-color: #f5f5f5;
}
